# Config file for automatic testing at travis-ci.org

language: python
services:
  - postgresql
  - redis-server
matrix:
    include:
      - python: 3.6
        env: TOXENV=py36

install:
  - pip install -U tox-travis coveralls
  - pip install -r requirements_dev.txt

before_script:
  - psql -c 'create database defaultdb;' -U postgres
  - hug -f tests/service.py &> /tmp/service.out
  - sleep 2
  - cat /tmp/service.out

script: tox

after_success:
  - coveralls
