name: run apphelpers tests

# Controls when the workflow will run
on:
  # Triggers the workflow on a push to master
  push:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: defaultdb
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
      redis:
        image: redis
        ports:
          - 6379:6379

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.12
          cache: "pip"
          cache-dependency-path: "**/requirements_dev.txt"
      - name: Run tests
        run: |
          export SETTINGS_DIR=.
          pip install -r requirements_dev.txt
          pip install -e .
          pre-commit run --all-files
          pytest fastapi_tests
          pytest tests
